.Editor {
    display : flex;
    flex-wrap: wrap;
    gap : 10px;
}

/* input 요소 css */
.Editor .Title {
    display: flex;
    flex : 1;
}

.Editor .Title input {
    flex : 1; 
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.Editor .Content {
    flex : 1 1 90%;
    display: flex;
    gap : 10px;
}

.Editor .Content input {
    flex : 4 1; 
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    width : 93%;
}

/* select 요소 css */
.Editor .Priority {
    flex : 1; 
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

/* button 요소 css */
.Editor button {
    cursor : pointer;
    width : 80px;
    border: none;
    color : white;
    background-color: rgb(37, 147, 255);
    border-radius: 5px;
}