.TodoItem {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);

    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.TodoItem input {
    width: 20px;
}

.TodoItem .info {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
    padding: 0 15px;
    flex: 1;  /* 남은 공간 차지 */
}

.TodoItem .date {
    font-size: 14px;
    color: gray;
}

.TodoItem button {
    cursor: pointer;
    color: gray;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.TodoItem .title {
    flex-basis: 30%;
}

.TodoItem .description {
    flex-basis: 50%;
    font-size: 14px;
    color: #666;
}

.TodoItem .buttons {
    flex-basis: 20%;
}

.completed {
    text-decoration: line-through;
    color: #666;
}

.info.priority-1 {
    border-left : 5px solid #ff4444;  /* 1순위 */
    gap : 5px;
}

.info.priority-2 {
    border-left: 5px solid #ffbb33;  /* 2순위 */
}

.info.priority-3 {
    border-left: 5px solid #00C851;  /* 3순위 */
}

.info.priority-none {
    border-left: 5px solid #ccc;
}